.container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.rounded-corners {
  border-radius: 15px;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  max-height: 500px;
  width: 100%;
  border-radius: 15px;
}

.data-col {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.description-section,
.comments-section {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.description-section h4,
.comments-section h4 {
  margin-bottom: 10px;
}

.comments-section div {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.comments-section div:last-child {
  border-bottom: none;
}
