.postcards-container {
  width: 85%;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  overflow: hidden;
  margin-bottom: 20px;
  width: 75%;
}

.post-card:hover {
  transform: scale(1.03);
}

.post-card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 180px;
  width: 100%;
}

.post-card .card-body {
  background-color: #f8f9fa;
  padding: 20px;
}

.post-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.post-card .card-text {
  font-size: 0.9rem;
}

.pagination-container {
  margin-top: 20px;
}

.pagination-container .pagination li {
  margin: 0 5px;
}

.pagination-container .pagination li a,
.pagination-container .pagination li span {
  color: #333;
  border: none;
  transition: background-color 0.3s;
}

.pagination-container .pagination li.active a,
.pagination-container .pagination li.active span {
  background-color: #333;
  color: #fff;
}

.pagination-container .pagination li a:hover {
  background-color: rgba(51, 51, 51, 0.7);
}
