.container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.rounded-corners {
  border-radius: 15px;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  max-height: 500px;
  width: 100%;
  border-radius: 15px;
}

.data-col {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.description-section,
.comments-section,
.likes-section {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.description-section h4,
.comments-section h4 {
  margin-bottom: 10px;
}

.likes-row {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
}

.heart-icon {
  color: #ff0000;
  margin-right: 5px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.shaking {
  animation: shake 0.5s;
}

.likes-count {
  font-weight: bold;
}

.like-button {
  text-align: right;
}

.comments-section div {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.comments-section div:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .carousel-item img {
    max-height: 300px;
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    max-height: 200px;
  }
}
