/* SignInStyles.css */

.registration-form {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(95, 87, 87, 0.075);
  padding: 50px 70px;
  overflow: hidden;
}

.registration-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.form-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-button {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #5891ff;
  border: none;
  color: white;
}

.google-button button {
  width: 100%;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #5891ff;
  border: none;
  color: white;
}

.register-link {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.register-link a {
  color: #5891ff;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .registration-form {
    padding: 50px 20px;
  }
}
